VITE_ESG_API_BASE_URL=http://nurse.5gao.ai:8913
VITE_ESG_API_TOKEN=
VITE_TTS_STREAM_URL=http://talk-dev.aitago.tw:8001/tts_stream
VITE_TTS_CHARACTER=hayley
VITE_TTS_REPLACEMENT=esg
VITE_TTS_SEED=2
VITE_WHEP_URL=https://talk-dev.aitago.tw:1986
VITE_ENABLE_MOBILE_CONSOLE=false
